In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

## Data loading and preps

In [2]:
files = os.listdir(r'C:\Users\danie\projects\data')[12:19]
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [3]:
files.remove('uber-raw-data-janjune-15.csv')
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

### Concatinating datasets

In [4]:
path = r'C:\Users\danie\projects\data'

# empty dataframe
final = pd.DataFrame()

for file in files:
    df = pd.read_csv(path+"/"+file,encoding='utf-8')
    final = pd.concat([df,final])

In [5]:
final.shape

(4534327, 4)

In [6]:
df=final.copy()

In [7]:
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [8]:
df.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

## Conversion of object type to daytime data type

In [9]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'], format="%m/%d/%Y %H:%M:%S")

In [10]:
df.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
dtype: object

In [11]:
df['weekday'] = df['Date/Time'].dt.day_name()
df['day'] = df['Date/Time'].dt.day
df['minute'] = df['Date/Time'].dt.minute
df['hour'] = df['Date/Time'].dt.hour
df['month'] = df['Date/Time'].dt.month

In [12]:
df.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
weekday              object
day                   int64
minute                int64
hour                  int64
month                 int64
dtype: object

In [13]:
df.head()

,Date/Time,Lat,Lon,Base,weekday,day,minute,hour,month
0,2014-09-01 00:01:00,40.2201,-74.0021,B02512,Monday,1,1,0,9
1,2014-09-01 00:01:00,40.7500,-74.0027,B02512,Monday,1,1,0,9
2,2014-09-01 00:03:00,40.7559,-73.9864,B02512,Monday,1,3,0,9
3,2014-09-01 00:06:00,40.7450,-73.9889,B02512,Monday,1,6,0,9
4,2014-09-01 00:11:00,40.8145,-73.9444,B02512,Monday,1,11,0,9

In [14]:
df['Base'].unique()

array(['B02512', 'B02598', 'B02617', 'B02682', 'B02764'], dtype=object)

In [15]:
df['weekday'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [16]:
df['day'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)